/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html {
	scroll-behavior: smooth;
}

body {
    font-family: Ubuntu, Tahoma;
	font-size: 18px;
}

.container {
	width: 1110px;
	margin: 0 auto;
	height: auto;
}

/*------------- Header -------------*/
.header {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	/*height: 45px;*/

	margin: 50px 0 50px 0;
}

.main__logo {
	height: 45px;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

a:before, a:after, a > span:before, a > span:after {
	content: '';
	position: absolute;
	transition: transform .5s ease;
}

.nav__link {
	color: #EFA345;
	
	padding: 15px 35px;
	position: relative;
	text-decoration: none;
	/*padding: 0 35px 0 35px;*/
}

.nav__link::before {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #E46D07;
	transform: scaleX(0);
}

.nav__link:hover:before {
	transform: scaleX(1);
}

.nav__link.active {
	font-weight: 700;
	color: #E46D07;
}

.header__button {
	width: 160px;
	height: 40px;

	background: #E46D07;
	border-radius: 7px;

	color: white;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;

	transition: all .3s ease-in-out;

    display: none;
}

.header__button:hover {
	background: #B34009;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
	transform: scale(1.1);
}

/*------------- Form -------------*/
.form-container {
    width: 85%;
    margin: 0 auto;
    /* min-height: 1400px; */
    border: 3px solid #E46D07;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 50px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
}

.form__subtitle {
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
}

.form__input {
	padding: 30px;
	border: 2px solid #E46D07;
	border-radius: 10px;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	display: block;
	width: 75%;
	margin: 25px 0;
}

.form__button {
	width: 350px;
	padding: 30px;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #E46D07;
	border-radius: 10px;

	font-size: 20px;
	color: #FFFFFF;

	transition: all .3s ease-in-out;
}

.form__button:hover {
	background: #B34009;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
	transform: scale(1.1);
}

/*------------- Footer -------------*/
.footer {
	margin-top: 100px;
	padding: 60px 0 0 0;
	/* min-height: 400px; */
	display: flex;
	align-items: center;

	background-color: #222222;

	position: relative;
}

.footer__inner {
	padding: 0 95px;
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.footer__logo {
	width: 150px;
}

.footer__section {
	font-size: 18px;
	line-height: 145%;
	color: #FFFFFF;
}

.footer__list-item {
	padding: 10px 0;
}

.footer__link {
	color: #ffffff;
}

.footer__link:hover {
	color: #E46D07;
	filter: drop-shadow(0px 0px 7px rgba(228, 109, 7, 0.4));
	transition: all .3s;
}

.footer__inner.bottom {
	padding: 17px 95px;
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	margin-top: 45px;

	border-top: solid #fff 2px;
}

.footer__rights {
	font-size: 18px;
	line-height: 145%;
	color: #FFFFFF;
}

.footer__social-links {
	display: flex;
	/* flex-direction: row; */
}

.footer__social-links__item {
	padding: 0 15px;
}

.footer__social-link-hover:hover {
	filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
	transition: all .3s;
}

/*------------- Responsive -------------*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.container.fullwidth {
		width: 100%;
	}
	.container.marg {
		/* height: 1470px; */
		margin-bottom: 100px;
	}
	.header {
		flex-direction: column;
		/*align-items: center;
		justify-content: space-between;*/
	}
	.nav {
		flex-direction: column;
	}
	.article {
		margin-bottom: 70px;
	}
	.footer__inner {
		padding: 0;
	}
	.footer__inner.bottom {
		padding: 17px 0;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.container.fullwidth {
		width: 100%;
	}
	.container.marg {
		/* height: 1470px; */
		margin-bottom: 100px;
	}
	.header {
		flex-direction: column;
		/*align-items: center;
		justify-content: space-between;*/
	}
	.nav {
		flex-direction: column;
	}
	.article {
		margin-bottom: 70px;
	}
	.intro__title {
		margin: 0 40px 40px;
		font-size: 32px;
	}
	.sub__input {
		width: 360px;
	}
	.form-container {
		padding: 30px;
	}
	.footer__inner {
		padding: 0;
		flex-direction: column;
	}
	.footer__inner.bottom {
		padding: 17px 0;
	}
	.footer__section {
		padding: 7px 0;
	}
	.footer__social-links {
		margin-top: 14px;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.container.fullwidth {
		width: 100%;
	}
	.container.marg {
		height: auto;
		margin-bottom: 100px;
	}
	.header {
		flex-direction: column;
		/*align-items: center;
		justify-content: space-between;*/
	}
	.nav {
		flex-direction: column;
	}
	.form-container {
		padding: 20px;
	}
	.form__title {
		font-size: 24px;
	}
	.form__subtitle {
		font-size: 18px;
	}
	.form__input {
		padding: 15px;
		width: 90%;
		font-size: 16px;
	}
	.form__button {
		width: 90%;
		font-size: 14px;
		border-radius: 25px;
		padding: 15px;
		margin-bottom: 15px;
	}
}