/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* width */
::-webkit-scrollbar {
	width: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }

  ::-webkit-scrollbar-button {
	background: #f1f1f1;
	height: 4px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	width: 10px;
	background: #888;
	border-radius: 20px;
	border: 4px solid #f1f1f1;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #E46D07; 
  }

::selection{
    background-color: #E46D07;
    color: #fff;
}

html {
	scroll-behavior: smooth;
}

body {
    font-family: Ubuntu, Tahoma;
	font-size: 18px;
}

#bar {
    width: 100%;
    height: 4px;
    background-color: orange;
    position: fixed;
    top: 0;
    transition: width 0.3 ease;
    z-index: 99;
}

.container {
	width: 1110px;
	margin: 0 auto;
	height: auto;
}

/*------------- Intro -------------*/
.intro {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.intro__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
}

.intro__inner {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author-social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-share {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.social-share__item__link {
    /* background-color: #222222; */
    padding: 0 10px;
}

.title-view {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.intro__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #E46D07;
}

.intro__view {
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
}

.title-view a {
    color: #5A5A5A;
    display: block;
    text-align: right;
    line-height: 120%;
}

.title-view a:hover {
    text-decoration: underline;
}

/*------------- Gallery -------------*/

.image-gallery {
    columns: 3;
    column-gap: 10px;
	margin-top: 50px;
}

.image-item {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.image-item:hover {
    cursor: zoom-in;
}

.image-item__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    /*background: rgba(73, 73, 73, 0.5);*/
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
}

.image-item:hover .overlay {
    transform: scale(1);
}

/*------------- Responsive -------------*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.container.fullwidth {
		width: 100%;
	}
	.container.marg {
		/* height: 1470px; */
		margin-bottom: 100px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.container.fullwidth {
		width: 100%;
	}
	.container.marg {
		/* height: 1470px; */
		margin-bottom: 100px;
	}
    .intro {
        flex-direction: column;
        align-items: center;
    }
    .intro__inner {
        width: 100%;
    }
    .intro__photo {
        margin: 0;
        width: 280px;
        height: 280px;
    }
    .author-social {
        margin-top: 15px;
    }
    .title-view {
        margin-top: 15px;
    }
    .intro__title {
        font-size: 26px;
    }
	.image-gallery {
        columns: 2;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.container.fullwidth {
		width: 100%;
	}
	.container.marg {
		height: auto;
		margin-bottom: 100px;
	}
    .intro__title {
        width: 60%;
        font-size: 24px;
    }
	.image-gallery {
        columns: 1;
    }
}