/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html {
	scroll-behavior: smooth;
}

body {
    font-family: Ubuntu, Tahoma;
	font-size: 18px;
}

#bar {
    width: 100%;
    height: 4px;
    background-color: orange;
    position: fixed;
    top: 0;
    transition: width 0.3 ease;
    z-index: 99;
}

.container {
	width: 1110px;
	margin: 0 auto;
	height: auto;
}

/*------------- Header -------------*/
.header {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	/*height: 45px;*/

	margin: 50px 0 50px 0;
}

.main__logo {
	height: 45px;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

a:before, a:after, a > span:before, a > span:after {
	content: '';
	position: absolute;
	transition: transform .5s ease;
}

.nav__link {
	color: #EFA345;
	
	padding: 15px 35px;
	position: relative;
	text-decoration: none;
	/*padding: 0 35px 0 35px;*/
}

.nav__link::before {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #E46D07;
	transform: scaleX(0);
}

.nav__link:hover:before {
	transform: scaleX(1);
}

.nav__link.active {
	font-weight: 700;
	color: #E46D07;
}

.header__button {
	width: 160px;
	height: 40px;

	background: #E46D07;
	border-radius: 7px;

	color: white;

	transition: all .3s ease-in-out;
}

.header__button:hover {
	background: #B34009;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
	transform: scale(1.1);
}

/*------------- Topnews -------------*/
.topnews {
	min-height: 500px;

	display: flex;
	/* flex-wrap: wrap; */
}

.topnews__main {
	width: 60%;

	background: url(../img/topnews_01.png) center no-repeat;
	background-size: cover;
}

.topnews__sub {
	width: 40%;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

.topnews__aside {
	width: 100%;
	height: 50%;
}

.topnews__aside.photo_01 {
	background: url(../img/topnews_02.png) center no-repeat;
	background-size: cover;
}

.topnews__aside.photo_02 {
	background: url(../img/topnews_03.png) center no-repeat;
	background-size: cover;
}

.topnews__inner {
	width: 100%;
	height: 100%;
	padding: 45px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: #FFFFFF;
	line-height: 145%;
	background: radial-gradient(75.1% 75.1% at 50% 50%, rgba(0, 0, 0, 0) 60.73%, rgba(0, 0, 0, 0.55) 100%);
}

.topnews__inner.aside__inner {
	padding: 30px;
}

.topnews__date {
	font-weight: 400;
	font-size: 20px;
}

.topnews__date.aside__date {
	font-size: 16px;
}

.topnews__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 145%;
	color: #ffffff;
	/* letter-spacing: 0.035em; */
}

.topnews__title.aside__title {
	font-size: 20px;
}

/*------------- Intro -------------*/
.intro {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

    /* box-shadow:
    -20px 20px 0 -17px #E46D07,
    20px -20px 0 -17px #222222,
    20px 20px 0 -20px #B34009,
    0 0 0 2px #EFA345; */
}

.intro__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
}

.intro__inner {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author-social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-share {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.social-share__item__link {
    /* background-color: #222222; */
    padding: 0 10px;
}

.social-share__item__link:last-child {
    /* padding: 0; */
}

.title-view {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.intro__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #E46D07;
}

.intro__view {
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
}

.intro__view::before {
    content: "";
    background-image: url(../img/view__logo.svg);
    background-size: cover;
    height: 28px;
    width: 28px;
    /* border-radius: 50%; */
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

/*------------- Top Photo -------------*/
.top-photo {
    width: 100%;
    height: 500px;
    background: url(../img/article__top.jpg) center no-repeat;
    background-size: cover;
    margin-top: 70px;
}

/*------------- Steps -------------*/
.all-steps {
    margin-top: 35px;
	padding: 0 65px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.step {
    width: 100%;
	min-height: 500px;
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin: 35px 0;

    /* box-shadow:
    -7px 7px 0 -6px #E46D07; */
}

.step p {
    width: 45%;
    font-weight: 400;
    font-size: 26px;
    line-height: 145%;
}

.step p span {
    font-weight: 700;
    font-size: 40px;
    line-height: 145%;
    color: #E46D07;
}

.step__blob {
    width: 500px;
    height: 500px;
    border-radius: 57% 43% 58% 42% / 51% 71% 29% 49%;
}

.step__blob.blob__01 {
    background: url(../img/albumimg__02.jpg) center no-repeat;
    background-size: cover;
}

.step__blob.blob__02 {
    background: url(../img/albumimg__05.jpg) center no-repeat;
    background-size: cover;
}

.step__blob.blob__03 {
    background: url(../img/albumimg__06.jpg) center no-repeat;
    background-size: cover;
}

.step__blob.blob__04 {
    border-radius: 50%;
    background: url(../img/article__coordinates.png) center no-repeat;
    background-size: cover;
}

/*------------- Footer -------------*/
.footer {
	margin-top: 70px;
	padding: 60px 0 0 0;
	/* min-height: 400px; */
	display: flex;
	align-items: center;

	background-color: #222222;

	position: relative;
}

.footer__inner {
	padding: 0 95px;
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.footer__logo {
	width: 150px;
}

.footer__section {
	font-size: 18px;
	line-height: 145%;
	color: #FFFFFF;
}

.footer__list-item {
	padding: 10px 0;
}

.footer__link {
	color: #ffffff;
}

.footer__link:hover {
	color: #E46D07;
	filter: drop-shadow(0px 0px 7px rgba(228, 109, 7, 0.4));
	transition: all .3s;
}

.footer__inner.bottom {
	padding: 17px 95px;
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	margin-top: 45px;

	border-top: solid #fff 2px;
}

.footer__rights {
	font-size: 18px;
	line-height: 145%;
	color: #FFFFFF;
}

.footer__social-links {
	display: flex;
	/* flex-direction: row; */
}

.footer__social-links__item {
	padding: 0 15px;
}

.footer__social-link-hover:hover {
	filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
	transition: all .3s;
}

/*------------- Responsive -------------*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.container.fullwidth {
		width: 100%;
	}
	.container.marg {
		/* height: 1470px; */
		margin-bottom: 100px;
	}
	.header {
		flex-direction: column;
		/*align-items: center;
		justify-content: space-between;*/
	}
	.nav {
		flex-direction: column;
	}
    .step p {
        font-size: 22px;
        width: 35%;
    }
    .step p span {
        font-size: 34px;
    }
	.footer {
		margin-top: 35px;
	}
	.footer__inner {
		padding: 0;
	}
	.footer__inner.bottom {
		padding: 17px 0;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.container.fullwidth {
		width: 100%;
	}
	.container.marg {
		/* height: 1470px; */
		margin-bottom: 100px;
	}
	.header {
		flex-direction: column;
		/*align-items: center;
		justify-content: space-between;*/
	}
	.nav {
		flex-direction: column;
	}
	.topnews {
		flex-direction: column;
	}
	.topnews__inner {
		padding: 30px;
	}
	.topnews__main {
		width: 100%;
	}
	.topnews__sub {
		width: 100%;
	}
	.topnews__date {
		font-size: 16px;
	}
	.topnews__title {
		font-size: 20px;
		margin-top: 80px;
	}
    .intro {
        flex-direction: column;
        align-items: center;
    }
    .intro__inner {
        width: 100%;
    }
    .intro__photo {
        margin: 0;
        width: 280px;
        height: 280px;
    }
    .author-social {
        margin-top: 15px;
    }
    .title-view {
        margin-top: 15px;
    }
    .intro__title {
        font-size: 26px;
    }
    .step {
        flex-direction: column;
    }
    .step p {
        width: 100%;
    }
    .step__blob {
        margin-top: 15px;
        width: 100%;
        height: 400px;
    }
	.footer__inner {
		padding: 0;
		flex-direction: column;
	}
	.footer__inner.bottom {
		padding: 17px 0;
	}
	.footer__section {
		padding: 7px 0;
	}
	.footer__social-links {
		margin-top: 14px;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.container.fullwidth {
		width: 100%;
	}
	.container.marg {
		height: auto;
		margin-bottom: 100px;
	}
	.header {
		flex-direction: column;
		/*align-items: center;
		justify-content: space-between;*/
	}
	.nav {
		flex-direction: column;
	}
    .intro__title {
        width: 60%;
        font-size: 24px;
    }
    .all-steps {
        padding: 0 20px;
    }
    .step__blob {
        height: 300px;
    }
}